
@media screen and (min-width:992px){
    .img-2 {
        display: none;
    }

    div.menu-mobile {
        display: none;
    }
}

@media screen and (min-width:300px) and (max-width:992px){
    nav.menu {
        display: none;
    }

    div.center {
        padding: 0 5%;
    }

    div.logo >  a  {
        display: none;         
    }

    .img-2 > img {
        width: 35px;
        height: 35px;
    }

    .menu-align { 
        width: 100%;
        max-width: 100%;
        text-align: center;
    }

    .logo {
        position: relative;
    }

    form.add {
        width: 100%;
        max-width: 100%;
    }

    form.add > textarea {
        width: 100%;
        height: 500px;
        padding: 20px;
    }

    div.img-2 {
        float: left;
        cursor: pointer;
        width: 100%;
        height: 40px;
        max-width: 40px;
        background-color: #F9F6F1;
        z-index: 10;
    }

    .img-2 > img {
       max-width: 100%;
       width: 100%;
    }
    div.menu-mobile {
        background: #F9F6F1;
        width: 100%;
        max-width: 400px;
        margin: 2rem auto;
        border-radius: 10px;
        z-index: 10;
        position: relative;
    }

    div.menu-mobile > ul {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 30px;
        padding: 20px 0;
        z-index: 10;
    }

    div.menu-mobile > ul > a {
        text-decoration: none;
        color: #75726ded;
        font-weight: 600;
        text-transform: capitalize;
        font-size: 16px;
    }

    div.menu-mobile > ul > a:nth-child(3) {
        background-color: #222;
        color: white;
        padding: 15px 20px;
        border-radius: 5px;
        font-weight: 400;
        font-size: 14px;
    }

  
}

