
@media screen and (min-width:992px){
    .img-2 {
        display: none;
    }
}

@media screen and (min-width:300px) and (max-width:992px){
    nav.menu {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-self:center ;
        width: 100%;  
        max-width:100%; 
        left: -10%;
        position: relative;
        top: 7rem; 
        background-color: #F9F6F1;   
        z-index: 10;
        border-radius: 4px;
    }



    .menu  > a {
        text-align: center;
        position: relative;
        overflow: hidden;
        margin: 20px;
        z-index: 10;
        width: 100%;
  
        background-color: #F9F6F1;
    }

    .menu  > a:nth-child(2){
        padding: 10px;
    }

    div.logo >  a  {
        display: none;         
    }

    .menu-align { 
        width: 100%;
        max-width: 100%;
        text-align: center;
    }

    .logo {
        position: relative;
    }

    form.add {
        width: 100%;
        max-width: 100%;
    }

    form.add > textarea {
        width: 100%;
        height: 500px;
        padding: 20px;
    }

    div.img-2 {
        float: left;
        cursor: pointer;
        width: 100%;
        height: 40px;
        max-width: 40px;
        background-color: #F9F6F1;
        z-index: 10;
    }

    .img-2 > img {
       max-width: 100%;
       width: 100%;

    }

  
}

