@media screen and (max-width:768px){
    div.img-2 {
        display: block;
    }

    div.menu-toggle {
        display: block;
    }

}

@media screen and (min-width:768px) {
    div.menu-toggle > img{
        display: none;
    }

    div.img-2 > img{
        display: none;
    }
}

@media screen and (min-width:300px) and (max-width:768px){

    div.center {
        padding: 0 0%;
    }
    div.box-center .content .campus {
        width: 100%;
        max-width: 100%;
        display: flex;
        flex-direction: column;
    }
    div.box-center .content .campus > input[type=search]{
        padding: 20px;
        max-width: 100%;
        font-weight: 600;
        color: #75726d83;
        
        max-width: 350px;
    }

    div.box-center .content .campus > input[type=submit]{
        padding: 20px;
        max-width: 100%;
        font-weight: 600;
        
        max-width: 350px;
    }

    div.box-center .content > a {
        max-width: 100%;
        text-align: left;
    }

    div.box-center .content  {
        width: 100%;
        max-width: 300px;
        margin:  0 auto;
    }

    div.box-center {
        padding:4rem 2rem;
    }

    section.boxes {
        display: flex;
        flex-wrap: nowrap;
        margin: 0 auto;
        gap: none;
        width: 100%;
        max-width: 100%;
    }

    .boxes .boxeOne {
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
    }

    .box-left > img {
        display: none;
        z-index: 10;
    }

    .box-right {
        display: none;
        z-index: 10;
        position: relative;
        left: -50%;
        top: 50%;
        transform: translate(50%, -50%);
        margin-top: 6rem;
        z-index: 10;
        transition: 1s all;
    }

    div.box-right > a {
        display: block;
        text-align: center;
        line-height: 50px;
        z-index: 10;
        padding: 0;
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        margin: 0 auto;
    }

    div.box-right > a:nth-child(2){
        margin-top: 10px;
        padding: 0 15px;
    }

    .box-left {
        display: none;
        width: 100%;
        z-index: 10;
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
        margin-top: 20px;
    } 

    .box-left > a {
        z-index: 10;
    }

    .menu-toggle {
        float: right;
        background-color: #F9F6F1;
        border-radius: 4px;
        cursor: pointer;
        z-index: 10;
        transition: 1s all;
    }

    .menu-toggle > img {
        width: 50px;
        max-width: 100%;
        height: 40px;
    }
} 


@media screen and (max-width:1024px){
    html, body  {
        font-size: 100%;
    }

    div.center {
        padding: 0 5%;
    }

    section.boxes, section.boxes2 {
        width: 100%;
        max-width: 100%;
        flex-wrap: wrap;
        gap: 90px;
        justify-content: space-between;
        position: relative;
    }

    div.boxeOne {
        width: 90%;
        max-width: 300px;
        gap: 20px;
    }
    
}