
@import url(searchResponsive.css);

*{margin: 0;padding: 0;box-sizing: border-box; scroll-behavior: smooth;}

html,body {
    min-height: 100vh;
    font-family: 'Archivo', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
}

.clear {
    clear: both;
}

div.img-2 {
    display: block;
}

div.menu-toggle {
    display: block;
}

div.box {
    max-width: 100%;
    width: 100%;
    height: 100vh;
}

div.center {
    width: 100%;
    max-width: 1440px;
    padding: 0 5%;
    margin: 0 auto;
}

header.cabeça {
    width: 100%;
    padding: 10px 0;
    
    background-color: #000;
}

.cabeça > p {
    color: white;
    text-align: center;
    padding: 10px 0;
    font-weight: 400;
    margin: 0 auto;
    width: 60%;
    line-height: 28px;
}

.cabeça > p > span {
    color: #77B9D4;
    cursor: pointer;
}

nav.menu {
    width: 100%;
    max-width: 100%;
    margin: 3rem 0;
}

div.box-left {
    float: left;
}

div.box-left > a {
    text-decoration: none;
    position: relative;
    top: -5px;
    padding: 0 30px;
    font-weight: 500;
    color: #75726dce;
}

div.box-right > a {
    position: relative;
    top: 7px;
    font-weight: 400;
    text-decoration: none;
    padding: 0 10px;
    color: #75726D;
}
div.box-right > a:nth-child(2){
    background-color: #000;
    padding: 
     15px;
    border-radius: 4px;
    color: white;
    font-size: 14px;
}

div.box-right {
    float: right;
}

div.box-center {
    width: 1270px;
    max-width: 100%;
    margin: 3rem 0;
    padding: 4rem;

    background-color:#F9F6F1;
}

div.box-center .content {
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

div.box-center .content > h2 {
    font-size: 30px;
    font-weight: 800;
}

div.box-center .content > p {
    max-width: 320px;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    color: #75726d;
    opacity: 1;
}

div.box-center .content > a {
    color: #75726D;
    font-weight: 500;
    opacity: 0.8;
    font-size: 15px;
}

div.box-center .content .campus {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

div.box-center .content .campus > input::placeholder {
    color: #75726D;
    font-weight: 500;
    opacity: 0.7;
    padding: 0 30px;
}
div.box-center .content .campus > input[type=search]{
    border: 1px solid #75726d5d;
    padding: 20px 20px;
    border-radius: 4px;

    outline: none;
    color: #75726D;
    font-size: 14px;
}

div.box-center .content .campus > input[type=submit]{
    border: none;
    padding: 0 30px;
    background-color: #000;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

section.boxes,
section.boxes2 {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 60px;
    margin-top: 40px;
}

div.boxeOne {
    width: 100%;
    max-width: 370px;
    border:1px solid #75726d79;
    padding: 18px;
    border-radius: 4px;
}

div.boxeOne > img {
    width: 100%;
    max-width: 500px;
    height: 55%;
    border-radius: 4px;
}

div.boxeOne > h4 {
    margin: 10px 0;
    font-weight: 700;
}

div.boxeOne > p {
    margin: 20px 0;
    color: #75726D;
    max-width: 290px;
    line-height: 24px;
}

.boxeOne  a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin: 0 auto;
    border: 1px solid #75726d9d;
    color: #000;
    font-weight: 500;
    width: 100%;
    padding: 20px;
}

div.space {
    height: 100px;
}

