
@media screen and (min-width:992px){
    div.menu-toggle {
        display: none;
    }

    div.menu-mobile {
        display: none;
    }
}

@media screen and (min-width:992px) and (max-width:1269px){
 
    div.center {
        padding: 0 4%;
    }

    div.box-right {
        padding:25px;
        width: 100%;
        max-width: 60%;
    }

    div.box-left {
        width: 100%;
        max-width: 300px;
        height: 100%;
        padding: 25px;
    }

    div.img-map {
        display: block;
        text-align: center;
    }

    div.img-map > img {
        width: 100%;
        max-width: 100%;
    }
  
}

@media screen and (min-width:992px){
    .img-map2 {
        display: none;
    }
}

@media screen and (min-width:300px) and (max-width:992px){
    
    
    div.box-right {
        display: flex;
        flex-direction: column;
        order: 1;
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
        float: none;
        padding: 30px;
    }
    div.box-left {
        display: none;
    }

    .menu {
        display: none;
    }
    .logo > a {
        display:none;
    }

    .logo > img {
        margin: 1rem 0;
    }

    .info-main {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 500px;
        margin: 3rem auto;
        height: 100%;
        float: none;
        order: 2;
        padding: 0 30px;
    }
    .img-map2 {
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
        padding: 50px 0;
        margin-top: 4rem;
        border: 1px solid #ccc;
        text-align: center;
    }

    .img-map2 > img {
        margin: 0 auto;
        text-align: center;
        max-width: 330px;
        width: 100%;
    }

    .center {
        padding: 0 4%;
    }

    .menu-toggle {
        float: right;
        cursor: pointer;
        margin-top: 2.4rem;
        background-color: #F9F6F1;
    }
    
    div.menu-toggle > img {
        width: 45px;
        height: 35px;
    }

    div.menu-mobile {
        background: #F9F6F1;
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
        margin-bottom: 1rem;
        border-radius: 10px;
        z-index: 10;
        position: relative;
    }

    div.menu-mobile > ul {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 30px;
        padding: 20px 0;
        z-index: 10;
    }

    div.menu-mobile > ul > a {
        text-decoration: none;
        color: #75726ded;
        font-weight: 600;
        text-transform: capitalize;
        font-size: 16px;
    }

    div.menu-mobile > ul > a:nth-child(3) {
        background-color: #222;
        color: white;
        padding: 15px 20px;
        border-radius: 5px;
        font-weight: 400;
        font-size: 14px;
    }
}

@media screen and (min-width:300px) and (max-width:768px){
    div.box-right {
        display: flex;
        flex-direction: column;
        order: 1;
        width: 100%;
        max-width: 100%;
        float: none;
        padding: 30px;
    }

    div.box-left {
        /* display: flex;
        flex-direction: column;
        order: 3;
        float: none;
        width: 100%; */
        display: none;
    }

    header.cabeça {
        padding: 5px 0;
        font-size: 13px;
        width: 100%;
        max-width: 100%;
    }

    .cabeça > p {
        width: 100%;
    }

    .info-main {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 100%;
        height: 100%;
        float: none;
        order: 2;
        padding: 0 30px;
    }

    .info-main > button {
        width: 100%;
        max-width: 200px;
    } 

    .img-map2 {
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
        padding: 50px 0;
        margin-top: 4rem;
        border: 1px solid #ccc;
        text-align: center;
    }

    .img-map2 > img {
        margin: 0 auto;
        text-align: center;
        max-width: 100%;
        width: 270px;
    }
}